.interests-contact-column {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}

.interests {
    background-color: #f3f3f3;
    border-radius: 16px;
    padding: var(--padding);
    width: 267px;
    box-sizing: border-box;
}

.interests__title {
    margin: 0 0 16px 0;
    font-family: var(--font-family-poppins);
    font-size: 14px;
    font-weight: var(--font-poppins-medium);
}

.interests__list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.interests__item {
    font-family: var(--font-family-poppins);

    font-size: 10px;
    font-weight: var(--font-poppins-regular);
    line-height: 150%;
    padding: 4px 10px;

    background-color: white;
    border-radius: 40px;
    white-space: nowrap;
}