.contact {
    background-color: #000000 !important;
    border-radius: 16px;
    color: white;
    padding: 16px;
    width: 267px;
    box-sizing: border-box;
}

.contact__title {
    font-family: var(--font-family-poppins);
    font-size: 14px;
    font-weight: var(--font-poppins-medium);
    line-height: 150%;
    margin: 0 0 8px 0;
}

.contact__email {
    font-family: var(--font-family-poppins);
    font-size: 10px;
    font-weight: var(--font-poppins-regular);
    line-height: 150%;
    margin: 0;
    color: #ffffff;
}